.banner {
  background: #222;
  border-top: 1em solid #666;
  border-bottom: 1em solid #666;
  text-align: center;
  padding: 0 1em;
  position: relative;
  overflow: hidden;
}

.banner__heading {
  font-size: 4.86em;
  font-weight: bold;
  line-height: 1.4em;
  padding: 1.23em 0;
  color: white;
  position: relative;
  z-index: 1;
  margin-top: -0.1em;
}

.banner__word--make {
  color: #37d278;
}

.banner__background {
  position: absolute;
  top: 0.2em;
  left: 0;
  font-family: "Courier New";
  word-break: break-all;
  color: #333;
}

.banner__background:before {
  content: $binary;
}

.banner--launch {
  .banner__word {
    font-size: 95%;
  }

  .banner__word--summer {
    color: #ffffbb;
  }

  .banner__word--2018 {
    color: #ffffbb;
  }
}

@media (min-width: 34em) and (max-width: 52em) {
  .banner__heading {
    padding: 0.46em 0;
  }

  .banner__word {
    display: block;
  }

  .banner__word--imagine {
    margin-left: -2.5em;
  }

  .banner__word--make {
    margin-left: -0.4em;
  }

  .banner__word--explore {
    margin-left: 2.8em;
  }
}

@media (min-width: 28em) and (max-width: 34em) {
  .banner__heading {
    padding: 0.46em 0;
  }

  .banner__word {
    display: block;
  }

  .banner__word--imagine {
    margin-left: -1.1em;
  }

  .banner__word--make {
    margin-left: -0.7em;
  }

  .banner__word--explore {
    margin-left: 1.4em;
  }
}

@media (max-width: 28em) {
  .banner__heading {
    display: inline-block;
    padding: 0.36em 0;
    margin-left: -0.4em;
  }

  .banner--launch {
    .banner__heading {
      margin-left: 0;
    }
  }

  .banner__word {
    display: block;
    text-align: left;
  }
}
