.banner {
  background: #222;
  border-bottom: 1em solid #666;
  text-align: center;
}

.banner__heading {
  font-size: 4.86em;
  font-weight: bold;
  padding: 1.2em 0;
  color: white;
}

.banner__word--make {
  color: #37d278;
}
