.continue {
  margin: 4em 0;
  text-align: center;
}

.continue__link {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
}

@media (max-width: 49em) {
  .continue {
    margin-top: 3em;
  }
}
