.menu-bar {
  padding: 1em;
  border-bottom: 1em solid #666;
}

.menu-bar__inner {
  max-width: 50em;
  margin: auto;
}

.menu-bar__list {
  float: right;
  font-size: 1.3em;
  margin-top: 1.6em;
}

.menu-bar__item {
  display: inline-block;
}

.menu-bar__link {
  padding-right: 2em;
}

.menu-bar__link--last {
  padding-right: 0;
}
