.overview {
  padding: 0 1em;
  max-width: 50em;
  margin: auto;
}

.overview__section {
  padding: 0 0.2em;
  display: inline-block;
}

.overview__section--right {
  float: right;
}

.overview__heading {
  margin-top: 2em;
  font-size: 2em;
  font-weight: bold;
}

.overview__paragraph {
  max-width: 22em;
  margin-top: 2em;
  line-height: 1.5em;
}

@media (max-width: 48em) {
  .overview {
    padding: 0 0.5em 0 1em;
  }

  .overview__section {
    max-width: 30em;
    display: block;
    margin: auto;
  }

  .overview__heading {
    margin-top: 1.5em;
  }

  .overview__paragraph {
    max-width: inherit;
  }

  .overview__section--right {
    float: none;
  }
}

@media (max-width: 34em) {
  .overview__section {
    max-width: 23em
  }
}
